html { background: $footer-color; }
.page { background: $page-color; }

.row {
  @include row;
}

.layout-container {
  @include container;
}

.hidden {
  display:none;
}

.clearfix { @include clearfix; }

// Utilities
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }

.left  { float: left; }
.right { float: right; }
